<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:desktop6="http://schemas.microsoft.com/appx/manifest/desktop/windows10/6"
  xmlns:desktop7="http://schemas.microsoft.com/appx/manifest/desktop/windows10/7"
  IgnorableNamespaces="uap uap5 rescap desktop desktop6 desktop7">

  <Identity
    Name="RGCoreEssentials"
    Publisher="CN=RansomGuard"
    Version="1.0.1.17" />

  <Properties>
    <DisplayName>RG Core Essentials</DisplayName>
    <PublisherDisplayName>RG Core</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.22621.0" />
  </Dependencies>

  <Resources>
    <Resource Language="en-us"/>
  </Resources>

  <Applications>
    <Application
      Id="App"
      Executable="RansomGuard\RGUI.exe"
      EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements
        DisplayName="RG Core Essentials"
        Description="Advanced Real-Time Protection"
        BackgroundColor="#1e1e2e"
        Square150x150Logo="Images\Square150x150Logo.png"
        Square44x44Logo="Images\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png" />
        <uap:SplashScreen Image="Images\SplashScreen.png" BackgroundColor="#1e1e2e" />
      </uap:VisualElements>
      <Extensions>
        <desktop7:Extension Category="windows.shortcut">
          <desktop7:Shortcut File="[{Desktop}]\RG Core Essentials.lnk" Icon="RansomGuard\RGUI.exe" />
        </desktop7:Extension>
        <uap5:Extension Category="windows.startupTask" Executable="RansomGuard\RGUI.exe" EntryPoint="Windows.FullTrustApplication">
          <uap5:StartupTask TaskId="RansomGuardStartup" Enabled="true" DisplayName="RG Core Essentials" />
        </uap5:Extension>
        <uap5:Extension Category="windows.appExecutionAlias" Executable="RansomGuard\RGUI.exe" EntryPoint="Windows.FullTrustApplication">
          <uap5:AppExecutionAlias>
            <uap5:ExecutionAlias Alias="RGUI.exe" />
          </uap5:AppExecutionAlias>
        </uap5:Extension>
        <desktop6:Extension Category="windows.service" Executable="Service\RGService.exe" EntryPoint="Windows.FullTrustApplication">
          <desktop6:Service Name="RGServicePackaged" StartupType="auto" StartAccount="localSystem" />
        </desktop6:Extension>
      </Extensions>
    </Application>
    <Application
      Id="Watchdog"
      Executable="RGWorker.exe"
      EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements
        AppListEntry="none"
        DisplayName="RG Worker"
        Description="RG Self-Healing Worker"
        BackgroundColor="transparent"
        Square150x150Logo="Images\Square150x150Logo.png"
        Square44x44Logo="Images\Square44x44Logo.png">
      </uap:VisualElements>
      <Extensions>
        <uap5:Extension Category="windows.appExecutionAlias" Executable="RGWorker.exe" EntryPoint="Windows.FullTrustApplication">
          <uap5:AppExecutionAlias>
            <uap5:ExecutionAlias Alias="RGWorker.exe" />
          </uap5:AppExecutionAlias>
        </uap5:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="runFullTrust" />
    <rescap:Capability Name="broadFileSystemAccess" />
    <rescap:Capability Name="packagedServices" />
    <rescap:Capability Name="localSystemServices" />
  </Capabilities>
</Package>
